.app {
  width: 100%;
  height: auto;

}

a {
  text-decoration: none;
}

#appbar {
  text-align: center;
}

#appbar-button {
  font-size: 25px;
  color: rgb(97, 255, 97);
  padding: 1%;
  justify-content: space-between;
  margin-right: 23px;
  font-family: Andale Mono, monospace	
  
}

#copyrights {
  margin-top: 56px;
  padding: 1%;
  font-size: 16px;
}